@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s linear;
}
html{
    min-height: 100%;
    background-size: cover;
    background-image: url(../7/img/hand-drawn-abstract-doodle-background-design_921039-23123.avif);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.content{
    position: relative;
    width: 580px;
    margin: 50px auto;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
}
.content_title{
    margin: 0;
    padding: 20px;
    font-size: 60px;
    text-shadow: 0 0 10px #fff;
}
.menu{
    padding: 50px 0;
    margin: 0 auto;
    background: rgba(0,0,0,0.7);
    width: 500px;
    height: auto;
    border-radius: 250px;
}
.menu li{
    font-size: 40px;
    display: block;
    line-height: 66px;
}
.menu li a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 3px #fff;
    transform: scale(0.8);
}
.menu:hover li a{
    text-shadow: 0 0 10px #fff;
    color: transparent;
}
.menu:hover .blog_but p{
    box-shadow: 0 0 10px #fff;
    color: transparent;
    text-align: center;
}
.menu li a:hover{
    text-shadow: none;
    color: #fff;
    transform: scale(1);
}
.menu .blog_but p:hover{
    text-shadow: none;
    color: #ffffff;
    transform: scale(1);
    text-align: center;
}
.blog{
    display: none;
}
p{
    text-align: center;
    font-size: 30px;
    background: transparent;
    color: #ffffff;
}
.blog_but:hover .blog{
    display: block;
}
.menu .blog_but .blog a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 3px #fff;
    transform: scale(0.8);
    font-size: 30px;
}